<div class = "d-flex flex-column flex-md-row 
align-items-center p-3 px-md-4 mb-3 bg-white 
border-bottom shadow-sm">
    <h4 class="my-0 mr-md-auto font-weight-normal">Gerenciador de Registro</h4>
    <nav>
        <a class="btn - btn-outline-primary" routerLink = "/home">Home</a>
        <a class="btn - btn-outline-primary" routerLink = "/employee-create">Criar Registro</a>
        <a class="btn - btn-outline-primary" routerLink = "/employee-list">Lista Colaboradores</a>
    </nav>
</div>
<router-outlet></router-outlet>
